.Side_bar
  .User-name
    .User-name__side-box
      %p.left
        = current_user.name
      %p.right 
        = link_to "#", class: "right__btn" do
          =icon('far', 'edit', class: "right__btn--icon")
        = link_to edit_user_path(current_user), class: "right__btn" do
          =icon('fa', 'cog', class: "right__btn--tool")
  .Group-list
    .Group
      .Group__name techcamp
      .Group__message まだメッセージはありません
    .Group
      .Group__name techcamp
      .Group__message まだメッセージはありません
    .Group
      .Group__name techcamp
      .Group__message まだメッセージはありません